{% include 'header.html' %}

{% block content0 %}

{% endblock %}


{% include 'header2.html' %}

{% block content1 %}
<div class='content'>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">1등 : {{attend_1}}</div>
                                <div class="stat-heading">
                                    <!-- <button class="btn btn-secondary btn-sm" name="atd" id="atd">출석 순위</button> -->
                                    <form method="POST" action="{% url 'ranking' %}">
                                        {% csrf_token %}
                                        <button class="btn btn-secondary btn-sm" id="abs" value="atd">출석 순위</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-cart"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">1등 : {{absent_1}}</div>
                                <div class="stat-heading">
                                    <form method="POST" action="{% url 'difrank' %}">
                                        {% csrf_token %}
                                        <button class="btn btn-secondary btn-sm" id="abs" value="abs" name="name">결석 순위</button>
                                    </form>
                                    <div id="testarea"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 차트 -->
    <div id="chart_div"></div>
        
</div>
{% endblock %}


{% include 'footer.html' %}

{% block content2 %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {
            packages: ['corechart', 'bar']
        });
    google.charts.setOnLoadCallback(drawAxisTickColors);

    function drawAxisTickColors(inp) {
        if (inp == null) {
            var cus_data = {{ tmp_table|safe }};
        }
        else{
            cus_data = inp
        }
        // var cus_data = {{ tmp_table|safe }}
        var data = new google.visualization.DataTable();
        data.addColumn('string', '닉네임');
        data.addColumn('number', '출석');
        data.addColumn('number', '결석');
        data.addColumn({type: 'string', role: 'style'});
        data.addColumn({type: 'string', role: 'annotation'});
        data.addRows( cus_data );
            var options = {
            title: '인공지능 C반 {{what}} 랭킹', height: 600,
            colors: ['#00c292', '#ffab91'],
            chartArea: {
                width: '70%'
            },
            hAxis: {
                title: '출석 및 결석 일수',
                minValue: 0,
                textStyle: {
                    bold: true,
                    fontSize: 12,
                    color: '#4d4d4d'
                },
                titleTextStyle: {
                    bold: true,
                    fontSize: 18,
                    color: '#4d4d4d'
                }
            },
            vAxis: {
                // title: 'City',
                textStyle: {
                    fontSize: 14,
                    bold: true,
                    color: '#848484'
                },
                titleTextStyle: {
                    fontSize: 14,
                    bold: true,
                    color: '#848484'
                }
            },
            animation:{
                duration: 1000,
                easing: 'out',
                startup: 'true',
            },
            annotations: {
                alwaysOutside: 'true'
                }
        };
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>  


{% endblock %}


{% include 'footer2.html' %}