{% load static %}

<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">READ Profile</h3>
				</div>
				<!-- /.box-header -->

<form role="form" method="post">
	{% csrf_token %}
	<input type='hidden' name='id' value="OOO">

</form>

<div class="box-body">
	<div class="form-group">
		<label for="exampleInputEmail1">My id</label> <input type="text"
			name='myid' class="form-control" value="{{readpro.username}}"
			readonly="readonly">
	</div>

<!--	<p>-->
<!--		{% static "" as 'images' %}-->
<!--		<img src="{{images}}/{{readpro.profile_img}}">-->
<!--	</p>-->

	<div class="form-group">
		<label for="exampleInputPassword1">bio</label>
		<textarea class="form-control" name="mybio" rows="3"
			readonly="readonly">{{readpro2.bio}}</textarea>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Contact</label> <input type="text"
			name="contact" class="form-control" value="{{readpro2.contact}}"
			readonly="readonly">
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">My location</label> <input type="text"
			name="mylocation" class="form-control" value="{{readpro2.location}}"
			readonly="readonly">
	</div>

</div>
<!-- /.box-body -->

<div class="box-footer">
	<button type="button" class="btn btn-primary" id="ListBtn">목록 보기</button>
	{% if id == readpro2.user_name %}
	<button type="button" class="btn btn-primary" id="ModifyBtn">수정하기</button>
	{% endif %}
</div>

<form method="post" id="modifyFrm">
	{% csrf_token %}
	<input type="hidden" name="id" value="{{readpro2.user_name}}">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

$(document).ready(function(){
	$('#ListBtn').click(function (){
		location.href='../profile_list'
	})
	$('#ModifyBtn').click(function (){
		$('#modifyFrm').attr('action', "{% url 'modify_form' %}").submit()
	})
});

</script>

			</div>
			<!-- /.box -->
		</div>
		<!--/.col (left) -->

	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->


